<div>
  <div class="description-container" (click)="toggleExpanded()">
    <section-header [title]="'Assignment Description'" [expanded]="expanded"></section-header>
  </div>
  <div class="content" *ngIf="expanded">
    <p class="context">This project was completed on a team of four for CS-4726: Privacy Technology, Policy, & Law</p>

    <p>
      <span class="bold-text">Assignment Description:</span> Given the data we were able to obtain we thought about the possible ways in which attackers or malicious actors might use the data. We analyzed the risks of having the data publicly available? From a list that was given, we analyzed the state that has the most kinds of data, then analyzed that state compared to the state that has fewer voter data elements available. Etc.
    </p>
    <br>
  </div>
<div>
