<div>
  <div class="description-container" (click)="toggleExpanded()">
    <section-header [title]="'Objective'" [expanded]="expanded"></section-header>
  </div>
  <div class="content" *ngIf="expanded">
    <h1>
      Cloud Security Policy
    </h1>
    <p >
      As businesses transition from on-premises solutions to cloud computing, many of them face new challenges in keeping their new cloud infrastructure secure. In this project, I worked as part of a team to draft a corporate Cloud Security Policy and accompanying documents that address risks in a company’s usage of cloud computing.
    </p>
    <br>
  </div>
<div>
