<div>
  <div class="description-container" (click)="toggleExpanded()">
    <section-header [title]="'Overview'" [expanded]="expanded"></section-header>
  </div>
  <div class="content" *ngIf="expanded">
    <p class="context">This project was completed on a team of four for CS-4725: Information Security Strategies and Policy</p>
    <h1>
      Cloud Security Policy
    </h1>
    <p>
      <span class="bold-text">Collaborated with a team to develop a comprehensive Cloud Security Policy</span> for a simulated large financial institution undergoing transition from on-premises to cloud infrastructure
    </p>
    <p>
      •<span class="underline"> Drafted detailed memo for the Chief Information Security Officer (CISO)</span> outlining the identified cloud-related threats and
their potential impact on the bank’s operations and assets
    </p>
    <p>
      •<span class="underline"> Developed a robust Cloud Security Policy</span> aligned with NIST recommendations and U.S. financial regulations
    </p>
    <p>
      •<span class="underline"> Drafted a memorandum justifying the new cloud security polices</span> to senior management as a strategic investment that could
prevent millions of dollars in breach costs
    </p>
    <br>
  </div>
<div>
