<div class="content-container">
  <div class="container">
    <div class="card border-secondary">
      <div class="card-body">
        <h5 class="card-title text-primary">Healthcare Recruiter Tool</h5>
        <p class="card-text">
          AI powered tool that matches healthcare professionals with clinician
          roles
          <span style="padding-right: 100vw"></span>
        </p>
        <a
          href="https://locumtenensrecruiter-a6bhdadcc3cqg0hn.eastus2-01.azurewebsites.net/"
          class="btn btn-dark"
          >Prototype</a
        >
      </div>
      <div class="card-footer text-body-secondary">2024</div>
    </div>
  </div>

  <div class="container" (click)="showSystemDesignProject()">
    <div class="card border-secondary">
      <div class="card-body">
        <h5 class="card-title text-primary" (click)="showSystemDesignProject()">
          System Design Copilot
        </h5>
        <p class="card-text">
          AI system design copilot designed to assist users in learning and
          creating software architectures
          <span style="padding-right: 100vw"></span>
        </p>
        <button class="btn btn-dark" (click)="showSystemDesignProject()">
          Docs
        </button>
        <a
          href="https://github.com/mattjinks/system-design-copilot"
          class="btn btn-dark"
          >GitHub</a
        >
        <a href="https://youtu.be/s2vfirCqVfo" class="btn btn-dark">Demo</a>
      </div>
      <div class="card-footer text-body-secondary">2024</div>
    </div>
  </div>

  <div class="container" (click)="showCommentGeneratorProject()">
    <div class="card border-secondary">
      <div class="card-body">
        <h5
          class="card-title text-primary"
          (click)="showCommentGeneratorProject()"
        >
          Code Comment Generator
        </h5>
        <p class="card-text">
          Ruby Rails API that uses OpenAI's GPT-4o to generate real-time code
          comments along with a separate Ruby client application that interacts
          with the Code Comment Generator API to display the comments generated
          by the API.
          <span style="padding-right: 100vw"></span>
        </p>
        <a
          href="https://medium.com/@mattjinks/code-comment-generator-with-ruby-on-rails-and-openai-0bce18bab911"
          class="btn btn-dark"
          >Blog</a
        >
        <a
          href="https://github.com/mattjinks/Comments-Generator.git"
          class="btn btn-dark"
          >GitHub</a
        >
        <a href="https://youtu.be/F7hT0tjAkJw" class="btn btn-dark">Demo</a>
      </div>
      <div class="card-footer text-body-secondary">2024</div>
    </div>
  </div>

  <div class="container" (click)="showCloudProject()">
    <div class="card border-secondary">
      <div class="card-body">
        <h5 class="card-title text-primary" (click)="showCloudProject()">
          Slow + Reverb Music Webapp
        </h5>
        <p class="card-text">
          Music player web application featuring slow and reverb audio effects.
          Utilizes a suite of Microsoft’s Azure cloud services for storage
          solutions, API management, and deployment.
          <span style="padding-right: 100vw"></span>
        </p>
        <button class="btn btn-dark" (click)="showCloudProject()">Docs</button>
        <a
          href="https://github.com/mattjinks/Slow-Reverb-Music.git"
          class="btn btn-dark"
          >GitHub</a
        >
        <a href="https://youtu.be/_0yGIeSlTiQ" class="btn btn-dark">Demo</a>
      </div>
      <div class="card-footer text-body-secondary">2024</div>
    </div>
  </div>

  <div class="container" (click)="showBackendProject()">
    <div class="card border-secondary">
      <div class="card-body">
        <h5 class="card-title text-primary" (click)="showBackendProject()">
          Backend API for Online Store
        </h5>
        <p class="card-text">
          This project builds a backend API that powers an online store
          application. Key experiences gained from this project include database
          schema design/implementation, API endpoint design/implementation,
          password hashing, token authentication, and unit testing.
          <span style="padding-right: 100vw"></span>
        </p>
        <button (click)="showBackendProject()" class="btn btn-dark">
          Docs
        </button>
        <a
          href="https://github.com/mattjinks/online-store-backend"
          class="btn btn-dark"
          >GitHub</a
        >
        <a href="https://youtu.be/YIU83GVbJJI" class="btn btn-dark">Demo</a>
      </div>
      <div class="card-footer text-body-secondary">2024</div>
    </div>
  </div>

  <div class="container" (click)="showCloudSecurityProject()">
    <div class="card border-secondary">
      <div class="card-body">
        <h5
          class="card-title text-primary"
          (click)="showCloudSecurityProject()"
        >
          Cloud Security Policy
        </h5>
        <p class="card-text">
          Collaborated with a team to develop a comprehensive Cloud Security
          Policy for a simulated large financial institution undergoing
          transition from on-premises to cloud infrastructure.
          <span style="padding-right: 100vw"></span>
        </p>
        <button (click)="showCloudSecurityProject()" class="btn btn-dark">
          Docs
        </button>
      </div>
      <div class="card-footer text-body-secondary">2023</div>
    </div>
  </div>

  <div class="container" (click)="showPrivacyProject()">
    <div class="card border-secondary">
      <div class="card-body">
        <h5 class="card-title text-primary" (click)="showPrivacyProject()">
          Privacy Impact Assessment
        </h5>
        <p class="card-text">
          Conducted a Privacy Impact Assessment for the North Carolina State
          Board of Elections (NCSBE) analyzing the collection and use of
          Personally Identifiable Information in voter records.
          <span style="padding-right: 100vw"></span>
        </p>
        <button (click)="showPrivacyProject()" class="btn btn-dark">
          Docs
        </button>
      </div>
      <div class="card-footer text-body-secondary">2023</div>
    </div>
  </div>
  <br />
  <br />
</div>
