<div class="content-container" fxLayout="row wrap" fxLayoutAlign="start center">
  <div class="cloud" (click)="showCloudProject()">
    <div class="header">
      <p class="bold-text">Developing Solutions with Cloud Services</p>
    </div>
    <span class="material-symbols-outlined">
      cloud
    </span>
    <div class="title">
      <p>Slowed + Reverb Music Streaming Application</p>
    </div>
  </div>

  <div class="backend" (click)="showBackendProject()">
    <div class="header">
      <p class="bold-text">Backend Development</p>
    </div>
    <span class="material-symbols-outlined">
      database
    </span>
    <div class="title">
      <p>Backend API for Online Store</p>
    </div>
  </div>

  <div class="security" (click)="showCloudSecurityProject()">
    <div class="header">
      <p class="bold-text">Information Security</p>
    </div>
    <span class="material-symbols-outlined">
      lock
    </span>
    <div class="title">
      <p>Cloud Security Policy</p>
    </div>
  </div>

  <div class="privacy" (click)="showPrivacyProject()">
    <div class="header">
      <p class="bold-text">Data Privacy</p>
    </div>
    <span class="material-symbols-outlined">
      privacy_tip
    </span>
    <div class="title">
      <p>Privacy Impact Assessment</p>
    </div>
  </div>
</div>
