<div class="content">
  <p>
    This project is an AI-powered system design copilot designed to assist users
    in learning and creating software architectures. It provides real-time
    feedback on design decisions and tradeoffs.The core of the project is an
    interactive web app built with React which includes a chat interface that
    enables users to discuss design choices step-by-step. Users can also
    construct, visualize, and receive feedback on system design diagrams. The
    backend, implemented with Go and the Azure OpenAI SDK, leverages a
    chat-stream API to process user queries and stream insightful responses
    directly to the client, enhancing the learning and design experience.
  </p>
  <p>
    <span class="bold-text">Link to Webapp: </span
    ><a href="https://main.d2oq7odcbvfay0.amplifyapp.com"
      >System Design Copilot</a
    >
  </p>
  <p>
    <span class="bold-text">GitHub: </span
    ><a href="https://github.com/mattjinks/system-design-copilot"
      >https://github.com/mattjinks/system-design-copilot</a
    >
  </p>
  <p>
    <span class="bold-text">Technologies Used:</span>
  </p>
  <p>
    Microsoft Azure OpenAI, Go, React, Typescript, Docker

    <br />
  </p>

  <div></div>
</div>
