<div (click)="toggleExpanded()">
  <section-header [title]="'User Interface'" [expanded]="expanded"></section-header>
</div>
<div>
  <div class="content-container" *ngIf="expanded">
    <div class="content">
      <p><span class="bold-text">The view consists of three key elements:</span></p>
      <p>• A music library that dominates the view, displaying the complete catalog of songs for streaming.</p>
      <p>• A top-positioned filter bar with “Songs” and “Albums” buttons for user-driven browsing.</p>
      <p>• An audio player that enhances the listening experience with cover art, song information, and controls for playback, reverb, and speed.</p>
      <br>
      <p class="caption">Screenshot of Web App: Library displayed as "album-list"</p>
      <img src="../../../../assets/app-screenshot-2.png">
      <br>
      <p class="caption">Screenshot of Web App: Library displayed as "song-list"</p>
      <img src="../../../../assets/app-screenshot.png">
      <br>
    </div>
  </div>
</div>
