.content-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
}

.container {
  width: 100%;
  display: flex;         /* Make main-content a flex container */
  flex-direction: column;
}

.content img {
  width: 70%;
}

.bold-text {
  font-weight: bolder;
}

.caption {
  font-style: italic;
}
