/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url("../src/assets/pastel\ art.jpg");
  background-size: cover; /* Adjusts the image to cover the entire background */
  background-repeat: repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the image */
}
