<!-- <div class="content-container">
  <div class="content">
    <h1 class="display-2">Matthew Jinks</h1>
    <h2>Education:</h2>
    <p>
      <span class="">• The Georgia Institute of Technology </span>
      <span class="slant-text">- B.S. Computer Science - </span>
      <span class="slant-text">December 2023</span>
    </p>

    <p>
      <span class="">• Microsoft Certified: Azure Fundamentals (AZ-900)</span>
    </p>
    <p>
      <span class="">• Oracle Certified Associate Java SE 8 Programmer</span>
    </p>
    <br>
    <h2><span class="bold-text"></span>About Me:</h2>
    <p>Recent Georgia Tech Computer Science graduate that is eager to leverage my passion for cloud technologies and software development to build innovative solutions.</p>
    <br>
    <h2>Highlights:</h2>
    <br>
    <div class="highlights">
      <div class="resume" (click)="showResume()">
        <span class="material-symbols-outlined">
          description
        </span>
        Resume
      </div>
      <div class="cloud" (click)="showCloudProject()">
        <span class="material-symbols-outlined">
          cloud
        </span>
        Developing Solutions w/ Cloud Services
      </div>
      <div class="security" (click)="showSecurityProject()">
        <span class="material-symbols-outlined">
          lock
        </span>
        Cloud Security Policy
      </div>
    </div>
    <br>
    <br>
    <h2>Skills:</h2>
    <p>
      <span class="underline">Cloud Services:</span>
      Microsoft Azure (Azure SQL Database, Azure Functions, Azure API Management, Azure Container Registry, Azure Web App,
      Blob Storage, Azure Pipelines)
    </p>
    <p>
      <span class="underline">Languages & Technologies:</span>
      JavaScript, TypeScript, Angular, Node.js, Java, Express, HTML, CSS, Full stack development (frontend/backend), Docker, SQL
    </p>
    <p>
      <span class="underline">Privacy & Security:</span>
      Privacy Impact Assessment, Regularity Compliance, Security Policy & Strategy, Data Encryption, Web-Tokens
    </p>
    <p class="website-info">This website is deployed as a Microsoft Azure Static Web App. Azure DNS Zones hosts the DNS record for matthewjinks.com.</p>
  </div>
</div> -->

<div class="content-container">
  <div class="content">
    <h1 class="display-2 text-primary-emphasis">Matthew Jinks</h1>
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            <strong class="text-primary-emphasis">ABOUT ME</strong>
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
          <div class="accordion-body">
            Georgia Institute of Technology alumni (B.S. Computer Science) that is eager to leverage my passion for software development and cloud technologies and  to build innovative solutions.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
            <strong class="text-primary-emphasis">SKILLS & CERTIFICATIONS</strong>
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
          <div class="accordion-body">
            <span><strong>Languages:</strong> Java, JavaScript, TypeScript, HTML/CSS, Python, SQL</span><br><br>
            <span><strong>Frameworks:</strong> Ruby on Rails, Angular, Express, Node.js</span><br><br>
            <span><strong>Developer Tools:</strong> Microsoft Azure, CI/CD, Git, Docker, VS Code, Postman</span><br><br>
            <span><strong>Databases:</strong> PostgreSQL, Azure SQL, Azure Cosmos DB</span><br><br>
            <span><strong>Certifications:</strong> Microsoft Certified: Azure Fundamentals (AZ-900), Oracle Certified Associate Java SE 8 Programmer</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
