.bold-text {
  font-weight: bolder;
}

.slant-text {
  font-style: italic;
}

.content-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
}

.content {
  width: 64vw;
  display: flex;
  flex-direction: column;
}
.content-container h2 {
  margin: 0; /* Remove top/bottom margins */
  padding: 0;
  font-weight: normal;
  color:rgb(27, 129, 63)
}

.content-container p {
  font-size: 20px;
}

.highlights {
  display: flex;
  justify-content: space-between; /* Adjusts spacing: use 'flex-start', 'flex-end', 'center', 'space-between', etc. */
  align-items: center;
}

.resume:hover, .cloud:hover, .security:hover {
  background-color: rgb(171, 238, 192);
}

.security, .cloud, .resume {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgb(27, 129, 63);
  flex-direction: column;
  text-align: center;
  padding: 6px;
  width: 25%;
  height: 96px;
}

.material-symbols-outlined {
  font-size: 50px;
}

@media (max-width: 768px) {
  .content-container p {
    font-size: 16px; /* Smaller font size on smaller screens */
  }

  .resume, .cloud, .security {
    width: 100%; /* Full width for each item */
  }

  .content {
    width: 95%;
  }

  .highlights {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .material-symbols-outlined {
    font-size: 40px; /* Smaller icons on smaller screens */
  }
}
