<div class="content-container">
  <div class="content">
    <h1>Matthew Jinks</h1>
    <h2>Education:</h2>
    <p>
      <span class="underline">The Georgia Institute of Technology </span>
      <span class="slant-text">- B.S. Computer Science - </span>
      <span class="slant-text">December 2023</span>
    </p>
    <p>
      <span class="underline">Government Clearance – Secret </span>
      <span class="slant-text"> - Since May 2018</span>
    </p>
    <p>
      <span class="underline">Microsoft Certified: Azure Fundamentals (AZ-900)</span>
    </p>
    <br>
    <h2><span class="bold-text"></span>About Me:</h2>
    <p>Recent Georgia Tech Computer Science graduate that is eager to leverage my passion for cloud technologies and software development to build innovative solutions.</p>
    <br>
    <h2>Highlights:</h2>
    <br>
    <div class="highlights">
      <div class="resume" (click)="showResume()">
        <span class="material-symbols-outlined">
          description
        </span>
        Resume
      </div>
      <div class="cloud" (click)="showCloudProject()">
        <span class="material-symbols-outlined">
          cloud
        </span>
        Developing Solutions w/ Cloud Services
      </div>
      <div class="security" (click)="showSecurityProject()">
        <span class="material-symbols-outlined">
          lock
        </span>
        Cloud Security Policy
      </div>
    </div>
    <br>
    <br>
    <h2>Skills:</h2>
    <p>
      <span class="underline">Cloud Services:</span>
      Microsoft Azure (Azure SQL Database, Azure Functions, Azure API Management, Azure Container Registry, Azure Web App,
      Blob Storage, Azure Pipelines)
    </p>
    <p>
      <span class="underline">Languages & Technologies:</span>
      JavaScript, TypeScript, Angular, Node.js, Java, Express, HTML, CSS, Full stack development (frontend/backend), Docker, SQL
    </p>
    <p>
      <span class="underline">Privacy & Security:</span>
      Privacy Impact Assessment, Regularity Compliance, Security Policy & Strategy, Data Encryption, Web-Tokens
    </p>
    <p class="website-info">This website is deployed as a Microsoft Azure Static Web App. Azure DNS Zones hosts the DNS record for matthewjinks.com.</p>
  </div>
</div>
