<div class="content-container">
  <div class="content">
    <h1 class="display-2 text-primary-emphasis">Matthew Jinks</h1>
    <p class="text-primary-emphasis">
      Welcome to my portfolio website! As a Georgia Institute of Technology
      alumnus with a B.S. in Computer Science, my tech journey is fueled by
      curiosity and a desire to contribute to innovative solutions that have
      impact!
    </p>
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseTwo"
            aria-expanded="false"
            aria-controls="panelsStayOpen-collapseTwo"
          >
            <strong class="text-primary-emphasis"
              >SKILLS & CERTIFICATIONS</strong
            >
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseTwo"
          class="accordion-collapse collapse collapse"
        >
          <div class="accordion-body">
            <span
              ><strong>Languages:</strong> C#, Java, JavaScript, TypeScript,
              HTML/CSS, Python, SQL</span
            ><br /><br />
            <span
              ><strong>Frameworks:</strong> .NET, React, Angular, Express,
              Node.js</span
            ><br /><br />
            <span
              ><strong>Developer Tools:</strong> Twilio, Microsoft Azure, CI/CD,
              Git, Docker, VS Code, Postman</span
            ><br /><br />
            <span
              ><strong>Databases:</strong> PostgreSQL, Azure SQL, Azure Cosmos
              DB</span
            ><br /><br />
            <span
              ><strong>Certifications:</strong> Microsoft Certified: Azure
              Fundamentals (AZ-900), Oracle Certified Associate Java SE 8
              Programmer</span
            >
            <br />
            <br />
            <span>
              <strong>Management:</strong>
              Technical Writing, Prototyping, System and Process Diagramming,
              Demonstration and Presentation Creation
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<br />
