<div>
  <div class="description-container" (click)="toggleExpanded()">
    <section-header [title]="'Description'" [expanded]="expanded"></section-header>
  </div>
  <div class="content" *ngIf="expanded">
    <h1>
      Slow + Reverb Music Streaming Webapp
    </h1>
    <p><span class="bold-text">GitHub: </span><a href="https://github.com/mattjinks/Slow-Reverb-Music.git">https://github.com/mattjinks/Slow-Reverb-Music.git</a></p>
    <p>
      This project builds a unique microservices-based music streaming web application featuring slow and reverb audio effects. Utilizing Microsoft’s Azure cloud services, the application includes cloud storage solutions for media files and meta-data as well as a custom API for managing the music library. Azure Pipelines was used to automate build, push, and deployment processes. Web Audio API is integrated to accomplish the reverb and slowing audio effects.
    </p>
    <p>
      <span class="bold-text">Technologies Used:</span>
    </p>
    <p>Microsoft Azure <span class="italics">(SQL Database, Blob Storage, Functions, API Management, Container Registry, Web App)</span></p>
    <p>Docker, Azure Pipelines, Angular, TypeScript, HTML, CSS, Web Audio API</p>
    <p><span class="bold-text">Why is this app useful?</span></p>
    <p>
      "Slowed + Reverb" music has gained immense popularity due to its ability to transform songs, enhancing emotional impact and revealing hidden nuances. A music streaming app featuring this style could attract a large audience seeking new listening experiences, as evidenced by the trend's viral success on platforms like YouTube and TikTok. By offering audio effects customization, such an app could establish itself in a growing niche market.
    </p>
    <br>
  </div>
<div>
